<settings>
	<database>
		<provider type="0">mysql</provider>
		<host type="0">127.0.0.1</host>
		<port type="1">3306</port>
		<user type="0">root</user>
		<pass type="0"></pass>
		<db type="0">ubercmsv2</db>
    <connection_string type="0">Charset=utf8;</connection_string>
	</database>
	<mail>
		<host type="0">10.0.0.1</host>
		<port type="1">25</port>
		<user type="0">dev@ubermeat.co.uk</user>
		<pass type="0">password</pass>
		<email type="0">dev@ubermeat.co.uk</email>
		<message_throughput type="1">5</message_throughput>
		<message_poll_delay type="1">100</message_poll_delay>
    <message_error_threshold type="1">3000</message_error_threshold>
	</mail>
	<templates>
		<cache type="4">1</cache>
	</templates>
  <core>
    <default_handler type="0">home</default_handler>
    <cycling_interval type="1">100</cycling_interval>
  </core>
  <version>
    <major type="1">1</major>
    <minor type="1">0</minor>
    <build type="1">0</build>
  </version>
</settings>