<?xml version="1.0" encoding="UTF-8" ?>
<settings>
	<database>
		<provider>mysql</provider>
		<host>10.0.0.1</host>
		<port>3306</port>
		<user>arch</user>
		<pass></pass>
		<db>arch</db>
	</database>
	<mail>
		<host>10.0.0.1</host>
		<port>25</port>
		<user>test@test.com</user>
		<pass>password</pass>
		<email>test@test.com</email>
	</mail>
</settings>