<?xml version="1.0" encoding="UTF-8" ?>
<settings>
	<database>
		<provider>mysql</provider>
		<host>10.0.0.1</host>
		<port>3306</port>
		<user>arch</user>
		<pass></pass>
		<db>arch</db>
	</database>
	<mail>
		<host>10.0.0.1</host>
		<port>25</port>
		<user>test@test.com</user>
		<pass>password</pass>
		<email>test@test.com</email>
		<message_throughput>5</message_throughput>
		<message_poll_delay>100</message_poll_delay>
	</mail>
	<templates>
		<cache>1</cache>
	</templates>
</settings>