<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>&uuml;ber CMS</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link type="text/css" href="./content/css/layout.css" rel="Stylesheet" />
</head>
<body>
	<div class="AREA_SHADOW"></div>
	<div class="AREA_WRAPPER">
		<div class="AREA_BANNER">
			<div class="AUTH">
				<a href="/login">
					<img src="./content/images/layout/login.png" alt="Login" />
					Login
				</a>
				<div class="SEP"></div>
				<a href="/register">
					<img src="./content/images/layout/register.png" alt="Login" />
					Register
				</a>
			</div>
			<h1>&uuml;ber cms</h1>
		</div>
		<div class="AREA_NAV">
			<div class="ITEM">
				<div class="TOP">
					<a href="/home">Home</a>
				</div>
			</div>
			<div class="SEP"></div>
			<div class="ITEM">
				<a href="/test">Test Menu</a>
				<div class="SUBITEMS">
					<a href="/test">Sub-item A</a>
					<a href="/test">Sub-item B</a>
					<a href="/test">Sub-item C</a>
				</div>
			</div>
		</div>
		<div class="AREA_CONTENT">
			<h2>Hello World!</h2>
			<h3>Hello World!</h3>
			<p>
				Lorem ipsum <a href="/test">dolor sit amet</a>, consectetur adipiscing elit. Aliquam congue ligula non lorem ornare scelerisque. Etiam imperdiet venenatis quam, nec mattis nunc facilisis sit amet. Curabitur sodales, tortor non sagittis rutrum, justo eros vestibulum risus, in consequat odio sem at tellus. Vivamus nulla ipsum, placerat vitae commodo eu, commodo eget enim. Aenean nulla mauris, accumsan ut interdum ut, semper eget risus. Duis id facilisis ipsum. Donec luctus nunc turpis, ut vulputate turpis vulputate eget. Donec vulputate tincidunt enim, quis malesuada massa aliquam id. 
			</p>
			<p>
				Fusce suscipit porttitor eros, in varius leo porta quis. Nullam posuere est in lectus sollicitudin faucibus. Sed nec dui quam. Integer vitae mi et metus aliquam dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin egestas sed nulla ultricies eleifend. Etiam commodo, tellus sit amet sodales fermentum, nibh dolor blandit erat, ut volutpat lorem lacus in massa. Sed vestibulum nibh viverra turpis pulvinar euismod. Morbi nunc leo, gravida eget tortor ut, tempor adipiscing ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada orci et semper semper. Aenean nec elit tempor, auctor dolor ut, vehicula tellus.
			</p>
			<h3>Hello World!</h3>
			<h4>Hello World!</h4>
			<p>
				Pellentesque quis enim non turpis pretium placerat ut nec diam. Vestibulum vehicula enim quis interdum facilisis. Etiam tincidunt viverra accumsan. Aliquam ut condimentum odio. Sed aliquam tempus metus, in feugiat enim malesuada vel. Praesent ac mi et urna facilisis iaculis vitae sed leo. Sed feugiat sit amet tortor vitae mattis.
			</p>
			<h4>Hello World!</h4>
			<p>
				Donec vel ante elementum, faucibus mauris sed, mollis dui. Proin vel sagittis purus. Aenean a ornare leo. Suspendisse faucibus malesuada ante eget egestas. Quisque quis porttitor elit. Ut lacinia, ante nec condimentum iaculis, nibh sem laoreet augue, sit amet viverra justo nisi non odio. Cras massa mauris, mattis sit amet pretium et, gravida egestas magna.
			</p>
			<p>
				In hac habitasse platea dictumst. Morbi ornare, odio a commodo porttitor, enim urna pretium diam, vel pharetra velit dolor sed eros. Maecenas gravida, dui sit amet semper ornare, metus dui ultrices nisi, nec interdum lacus nisi at leo. Morbi orci sem, rutrum in placerat in, sodales sed libero. Pellentesque adipiscing ultricies magna id viverra. Duis placerat dolor eget lacus vulputate, id scelerisque ipsum elementum. Nulla sapien massa, lacinia a nibh vel, pulvinar adipiscing enim. Morbi mollis metus at ipsum hendrerit congue. Nunc pellentesque lacinia est convallis volutpat. Nam sed sodales lorem, at feugiat mauris.
			</p>
			<h4>CSS Table Test</h4>
			<div class="TABLE">
				<div class="ROW">
					<div class="CELL2">row 1 col 1</div>
					<div class="CELL2">row 1 col 2</div>
					<div class="clear"></div>
				</div>
				<div class="ROW">
					<div class="CELL2">row 2 col 1</div>
					<div class="CELL2">row 2 col 2</div>
					<div class="clear"></div>
				</div>
				<div class="ROW">
					<div class="CELL2">row 3 col 1</div>
					<div class="CELL2">row 3 col 2</div>
					<div class="clear"></div>
				</div>
				<div class="ROW">
					<div class="CELL2">row 4 col 1</div>
					<div class="CELL2"><input type="text" value="row 4 col 2" /></div>
					<div class="clear"></div>
				</div>
				<div class="ROW">
					<div class="CELL2">row 5 col 1</div>
					<div class="CELL2"><input type="text" value="row 5 col 2" /></div>
					<div class="clear"></div>
				</div>
				<div class="ROW">
					<div class="CELL2">row 6 col 1</div>
					<div class="CELL2"><input type="submit" value="row 6 col 2" /><input type="submit" value="row 6 col 2" /><a href="/test" class="BUTTON">row 6 col 2</a></div>
					<div class="clear"></div>
				</div>
			</div>
			<h4>Data Table Test</h4>
			<table>
				<tr>
					<th>row 1 col 1</th>
					<th>row 1 col 2</th>
				</tr>
				<tr>
					<td>row 2 col 1</td>
					<td>row 2 col 2</td>
				</tr>
				<tr>
					<td>row 3 col 1</td>
					<td>row 3 col 2</td>
				</tr>
			</table>
			<p class="ERROR">
				Error box test message!
			</p>
			<p class="SUCCESS">
				Success box test message!
			</p>
		</div>
		<div class="clear"></div>
	</div>
	<p class="FOOTER">
		<a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported</a><br />
		Generated in <!--BENCHMARK_MS--> m/s
	</p>
</body>
</html>