<plugin>
  <uuid>a15a3e46-985a-41e3-b12b-846108310636</uuid>
  <title>Package Developer</title>
  <directory>App_Code/CMS/Plugins/Package Developer</directory>
  <class_path>CMS.Plugins.PackageDeveloper</class_path>
  <priority>0</priority>
  <version_major>1</version_major>
  <version_minor>0</version_minor>
  <version_build>0</version_build>
</plugin>