<plugin>
  <uuid>169A4055-3380-4746-99FD-EC8064F22E76</uuid>
  <title>Text Renderer</title>
  <directory>App_Code/CMS/Plugins/Text Renderer</directory>
  <class_path>CMS.Plugins.TextRenderer</class_path>
  <priority>0</priority>
  <version_major>1</version_major>
  <version_minor>0</version_minor>
  <version_build>0</version_build>
</plugin>