<plugin>
  <uuid>2E331360-E732-4135-97EE-6556B3DA02F3</uuid>
  <title>TR Provider - MathJax</title>
  <directory>App_Code/CMS/Plugins/TR - MathJax</directory>
  <class_path>CMS.Plugins.MathJax</class_path>
  <priority>0</priority>
  <version_major>1</version_major>
  <version_minor>0</version_minor>
  <version_build>0</version_build>
</plugin>