<plugin>
  <uuid>d70a28db-76d1-49a3-8313-3ad532d153f2</uuid>
  <title>Basic Articles</title>
  <directory>App_Code/CMS/Plugins/Basic Articles</directory>
  <class_path>CMS.BasicArticles.BasicArticles</class_path>
  <priority>0</priority>
  <version_major>1</version_major>
  <version_minor>0</version_minor>
  <version_build>0</version_build>
</plugin>