<plugin>
  <uuid>ade8158a-98ff-40fb-9541-c4d554484c2d</uuid>
  <title>Files</title>
  <directory>App_Code/CMS/Plugins/Files</directory>
  <class_path>CMS.Plugins.Files.Main</class_path>
  <priority>0</priority>
  <version_major>1</version_major>
  <version_minor>0</version_minor>
  <version_build>0</version_build>
</plugin>