<plugin>
  <uuid>6b1091d6-11fa-4ca1-b8cc-f38d1f266011</uuid>
  <title>Basic 404 Page</title>
  <directory>App_Code/CMS/Plugins/Basic 404 Page</directory>
  <class_path>CMS.Plugins.Basic404Page</class_path>
  <priority>0</priority>
  <version_major>1</version_major>
  <version_minor>0</version_minor>
  <version_build>0</version_build>
</plugin>