<plugin>
  <uuid>4f24426b-2329-4d65-9d6b-a2518ac7a62c</uuid>
  <title>Example Plugin</title>
  <directory>App_Code/CMS/Plugins/Example</directory>
  <class_path>CMS.Plugins.Example</class_path>
  <priority>0</priority>
  <version_major>1</version_major>
  <version_minor>0</version_minor>
  <version_build>0</version_build>
</plugin>